---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { Book } from "../content.config";
import { Image } from "astro:assets";

import NoisyHead from "../assets/noisy-head.png";
import PitchBeforeProduct from "../assets/pitch-before-product.png";
import BookOfNuggets from "../assets/book-of-nuggets.png";
import CTAButton from "../components/CTAButton.astro";
import Footer from "../components/Footer/Footer.astro";

type BookId = "noisy-head" | "pitch-before-product" | "book-of-nuggets";
const bookCovers = {
  "noisy-head": { src: NoisyHead, alt: "Noisy Head Book Cover" },
  "pitch-before-product": {
    src: PitchBeforeProduct,
    alt: "Pitch Before Product Book Cover",
  },
  "book-of-nuggets": { src: BookOfNuggets, alt: "Book of Nuggets Cover" },
} as const;

const fetchBooks = await getCollection("skinnyBooks");
const books: Book[] = fetchBooks.map((entry: { data: Book }) => entry.data);

const colors = ["bg-skinny-cream", "bg-skinny-blue", "bg-skinny-tan"];
---

<Layout>
  <main>
    {
      books.map(({ id, title, author, description, link }, index) => {
        const { src, alt } = bookCovers[id as BookId];
        return (
          <section
            id={id}
            class={`min-h-[90vh] flex flex-col lg:flex-row items-center justify-center lg:justify-evenly px-4 py-16 
              ${colors[index]} ${index > 0 ? "shadow-[inset_0_4px_12px_rgba(0,0,0,0.2)]" : ""}
              ${index === books.length - 1 ? "pb-72" : ""}`}
          >
            <Image src={src} alt={alt} class="max-w-[40%] lg:max-w-[25%] rounded-lg mb-16 lg:mb-0 shadow-[-7px_7px_20px_0px_rgba(0,_0,_0,_.75)]" />

            <div class="max-w-[90%] lg:max-w-[50%] flex flex-col items-left">
              <h2 class="text-[8vw] sm:text-[6vw] lg:text-[4vw] font-medium -tracking-[0.03em] -mb-3">{title}</h2>
              <h3 class="text-base font-light mt-1.5 -tracking-[0.03em]">
                by <span class="italic">{author}</span>
              </h3>
              <p class="text-sm lg:text-base font-light -tracking-[0.03em] mt-6 whitespace-pre-wrap">{description}</p>

              <CTAButton action="book-link" label="Get this book" class={`mt-16`} link={link} />
            </div>
          </section>
        );
      })
    }

    <Footer />
  </main>
</Layout>
